html {
    cursor: url('assets/generalCursor.png') 16 16, auto;
}
body {
    background-color: #FFF8DC;
    font-family: 'Press Start 2P', monospace, Arial;
    overflow: hidden;
}
.game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 125px;
}
.game-title,
.turn-text {
    font-size: 28px;
    font-family: 'Press Start 2P', monospace, Arial;
    color: #3C3C3C;
    text-align: center;
    padding-bottom: 18px;
}
.turn-text {
    font-size: 22px;
    color:#FF6F61;
}
.game-grid-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 0;
    width: 380px;
    cursor: url('assets/cursor.png') 16 16, auto;
}
.row {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    width: 308px;
}
.col {
    background-color: rgb(255, 247, 184);
    height: 100px;
    width: 100px;
    margin: 3px;
    border: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: #ffeb37;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-family: 'Press Start 2P', monospace, Arial;
}
.score {
    padding: 4px;
    color:#3C3C3C;
    text-align: center;

}
.score-board {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 308px;
    height: 80px;
    border-radius: 5px;
    margin-top: 5px;
    padding-bottom: 5px;
}
.player-avatar {
    padding: 7px;
}
.player-avatar,
.player-avatar img {
    width: 75px;
    height: 75px;
}

.settings-icon {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 12px;
    height: 20px;
    width: 20px;
}

.settings-icon img {
    height: 20px;
    width: 20px;
}

